## Libraries

In [30]:
import os
import glob
import pandas as pd

## Making list of all csv files

In [31]:
# changing our current directory where our csv files are saved
os.chdir("E:\Pandas-Sales-Analysis\SalesAnalysis\Sales_Data")

# only choosing files with .csv extension
extension = 'csv'

all_filenames = [i for i in glob.glob('*_2019.csv')]

# if we have not set this to current directory, then we have to pass all the files:
# Another way: all_filenames = [i for i in glob.glob("E:\Pandas-Sales-Analysis\SalesAnalysis\Sales_Data\January_2019.csv")]

all_filenames

['April_2019.csv',
 'August_2019.csv',
 'December_2019.csv',
 'February_2019.csv',
 'January_2019.csv',
 'July_2019.csv',
 'June_2019.csv',
 'March_2019.csv',
 'May_2019.csv',
 'November_2019.csv',
 'October_2019.csv',
 'September_2019.csv']

## Merging 12 months data into single csv file

In [32]:
# Initialising empty data frame to store 12 months data
all_data = pd.DataFrame()

for f in all_filenames:
    df = pd.read_csv(f) 
   
    all_data = pd.concat([all_data,df])
    # pd.concat([ 1. df: where to concatenate into, 2. df which you want to add in first data frame ])

# changing a data frame to csv file using .to_csv
all_data.to_csv( "combined_data.csv", index=False)
# dataframe_name.to_csv('csv_file_name')

print("Size of merged data frame: ",all_data.shape)

all_data.shape

Size of merged data frame:  (186849, 6)

(186849, 6)

# Cleaning or data

## Columns with missing values

In [33]:
missing_values = all_data.isna().any()
missing_values

Order ID            True
Product             True
Quantity Ordered    True
Price Each          True
Order Date          True
Purchase Address    True
dtype: bool

## Rows with missing values

In [34]:
missing_val_2 = all_data[all_data.isnull().any(axis=1)]
missing_val_2

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
355        NaN     NaN              NaN        NaN        NaN              NaN
734        NaN     NaN              NaN        NaN        NaN              NaN
1432       NaN     NaN              NaN        NaN        NaN              NaN
1552       NaN     NaN              NaN        NaN        NaN              NaN
1570       NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
10012      NaN     NaN              NaN        NaN        NaN              NaN
10274      NaN     NaN              NaN        NaN        NaN              NaN
10878      NaN     NaN              NaN        NaN        NaN              NaN
11384      NaN     NaN              NaN        NaN        NaN              NaN
11662      NaN     NaN              NaN        NaN        NaN              NaN

[544 rows x 6 columns]

## Number of rows with mising values

In [35]:
rows,columns = missing_val_2.shape
rows

544

## Deleting only those rows which are totally NAN

In [36]:
all_data.dropna(axis=0,how='all',inplace=True)

## Checking NAN values

In [37]:
check_nan = all_data.isnull().any()
check_nan

Order ID            False
Product             False
Quantity Ordered    False
Price Each          False
Order Date          False
Purchase Address    False
dtype: bool

# Converting Order Date(string datatype) to DateTime format
## gives ParserError: Unknown string format: Order Date

In [38]:
all_data['month'] = pd.to_datetime(all_data['Order Date'])

ParserError: Unknown string format: Order Date

## There is still some problematic rows, we have to clean them.

In [ ]:
all_data['month'] = all_data['Order Date'].str[0:2]
all_data['month'].sample(20)

## There is presence of string 'Or' in month column, we have to clean it 
## That's why we were facing errors

In [ ]:
all_data['month'].astype('int32')

# Cleaning Data - 2
## Removing 'Or' from month column

In [ ]:
# Only putting those rows which doesn't contain 'Or' in month section
all_data = all_data[~all_data['month'].str.contains("Or")]
# Putting ~ works as an invert

# Another way: all_data = all_data[all_data['Month'].str[0:] != "Or"]