## Libraries

In [1]:
import os
import glob
import pandas as pd

## Making list of all csv files

In [2]:
# changing our current directory where our csv files are saved
os.chdir("E:\Pandas-Sales-Analysis\SalesAnalysis\Sales_Data")

# only choosing files with .csv extension
extension = 'csv'

all_filenames = [i for i in glob.glob('*_2019.csv')]

# if we have not set this to current directory, then we have to pass all the files:
# Another way: all_filenames = [i for i in glob.glob("E:\Pandas-Sales-Analysis\SalesAnalysis\Sales_Data\January_2019.csv")]

all_filenames

['April_2019.csv',
 'August_2019.csv',
 'December_2019.csv',
 'February_2019.csv',
 'January_2019.csv',
 'July_2019.csv',
 'June_2019.csv',
 'March_2019.csv',
 'May_2019.csv',
 'November_2019.csv',
 'October_2019.csv',
 'September_2019.csv']

## Merging 12 months data into single csv file

In [4]:
# Initialising empty data frame to store 12 months data
all_months = pd.DataFrame()

for f in all_filenames:
    df = pd.read_csv(f) 
   
    all_months = pd.concat([all_months,df])
    # pd.concat([ 1. df: where to concatenate into, 2. df which you want to add in first data frame ])

# changing a data frame to csv file using .to_csv
all_months.to_csv( "combined_data.csv", index=False)
# dataframe_name.to_csv('csv_file_name')

print("Size of merged data frame: ",all_months.shape)

all_months.sample(15)

Size of merged data frame:  (186849, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3014,164871,AAA Batteries (4-pack),1,2.99,03/24/19 22:16,"951 Elm St, Boston, MA 02215"
22204,316875,USB-C Charging Cable,1,11.95,12/10/19 22:51,"940 Hickory St, Boston, MA 02215"
14393,207789,AA Batteries (4-pack),2,3.84,05/25/19 20:12,"299 11th St, Portland, OR 97035"
4216,154521,USB-C Charging Cable,1,11.95,02/02/19 22:09,"132 Dogwood St, Boston, MA 02215"
13343,189277,Apple Airpods Headphones,1,150,04/22/19 18:54,"390 12th St, Austin, TX 73301"
6330,254219,Macbook Pro Laptop,1,1700,09/01/19 17:07,"658 Lakeview St, Los Angeles, CA 90001"
6745,265796,Flatscreen TV,1,300,10/15/19 12:17,"810 Cedar St, Portland, OR 97035"
4208,166008,AAA Batteries (4-pack),1,2.99,03/30/19 12:38,"978 7th St, Atlanta, GA 30301"
902,260215,Google Phone,1,600,10/09/19 18:49,"630 1st St, Boston, MA 02215"
10638,233088,Apple Airpods Headphones,1,150,07/03/19 21:39,"145 Washington St, San Francisco, CA 94016"
9759,257516,USB-C Charging Cable,1,11.95,09/09/19 05:37,"673 Chestnut St, Atlanta, GA 30301"
4293,227014,Bose SoundSport Headphones,1,99.99,07/18/19 16:38,"827 Forest St, San Francisco, CA 94016"
3994,226727,20in Monitor,1,109.99,07/17/19 07:07,"630 Spruce St, Seattle, WA 98101"
1922,297489,AAA Batteries (4-pack),1,2.99,12/16/19 13:56,"470 2nd St, New York City, NY 10001"
9190,149991,Wired Headphones,1,11.99,01/10/19 10:19,"408 10th St, Boston, MA 02215"

# Cleaning or data

## Removing rows with all missing values

In [5]:
# Checking if there is any null values present
# if present then finding there indexes, other info row wise
x = all_months[all_months.isnull().any(axis=1)]
x

# Deleting only those rows which are totally nan i.e. how='all'
all_months.dropna(axis=0,how='all',inplace=True)

# cheking if there is any nan values, if present then we have to use fillna.
z = all_months.isnull().any()
z

all_months.shape

(186305, 6)